::-webkit-input-placeholder {
font-family: 'Montserrat', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
font-family: 'Montserrat', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
font-family: 'Montserrat', sans-serif;
}

:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
}
*{font-family: 'Montserrat', sans-serif;}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.logo-text {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.logo-color {
    color: #000000;
}

.header-links {
    color: black;
    text-decoration: none;
}

.bottom-bar {

    margin-top: 5px;
}


.spanner:hover {
    background-color:#CDCDCD;
}

.spanner {
    padding: 5px;
    border-radius: 10px;
    color:#000000;
    background-color:#EEEEEE;
}
