{% extends 'base_innner.html' %}

{% block title %} - Add a group {% endblock %}

{% block page_title %} Add or Join a Group {% endblock %}



{% block body_block %}

    <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">



    <div class="row" style="padding-bottom: 15px">


        <div class="col-md-6 col-xs-6 col-sm-6">
            <a class="btn btn-lg btn-warning btn-block" style="height: 125px; font-size: 35px" href="/groups/subscribe">
                <div class="simple-text" style="top:20%; position: relative">Join</div>
            </a>
            </div>
        <div class="col-md-6 col-xs-6 col-sm-6">
           <a class="btn btn-lg btn-success btn-block" style="height: 125px;  font-size: 35px" href="/groups/create"><div class="simple-text" style="top:20%; position: relative">Create</div></a>
            </div>


    </div>


    </div>





{% endblock %}