{%  extends 'base.html' %}

{% block title %} - Register{% endblock %}

{% block header_files %}

{% endblock %}

{% block body_block %}
<div class="row" style="margin-top:50px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            <div class="row">
							<a href="/" class="logo-color"><div class="col-xs-12 col-sm-12 col-md-12 inline logo-text"><h1>AssignMate</h1></div></a>
				</div>
            <hr class="colorgraph">

            <div class="row" style="padding-top: 5px; text-align:center"><div class="col-xs-12 col-sm-12 col-md-12">
                        <h2>CIAO!</h2>
					</div>

            <hr class="colorgraph">

	</div>

    {% endblock %}